<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>

<form method="post" th:action="@{/register}">
    <label for="username">Username</label>:
    <input id="username" name="username" type="text"/> <br/>

    <p th:if="${error != null}" th:text="${error}"></p>

    <label for="password">Password</label>:
    <input id="password" name="password" type="password"/> <br/>

    <label for="email">Email</label>:
    <input id="email" name="email" type="text"/> <br/>

    <label for="adminRightsRequest">Ask for administrator rights</label>:
    <input id="adminRightsRequest" name="adminRightsRequest" type="checkbox"/> <br/>

    <input type="submit" value="Sign up"/>
</form>

</body>
</html>